@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(166, 221, 189);
}


li , a , button
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(18, 14, 7);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;

}



.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(159, 212, 85);
}


button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(28, 155, 111);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {

    background-color: rgb(17, 120, 113);
}

body {
 background:scroll;
 background-position: center;
 background-color: rgb(17, 120, 200);
 border: none;
 box-sizing: 10px;
}



div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img{
    align-items: center;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


  .veg-lg-9{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 10%;
  }

  .card-text{
    align-content: flex-end;
  }