body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url("/static/img/signup.jpeg");
    background-size:cover;
    background-position: center;
}

.sign-up-form
{
    width: 300px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        background: #fff;
        padding: 20px;
        margin: 8% auto 0%;
        text-align:center; 
}
.sign-up-form h1
{
    color: #241e76;
    margin-bottom: 30px;
}

button
{
    color: rgb(198, 210, 219);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-btn
{
    background-color: #2357b1;
}
.wechat-btn
{
    background-color: #197e2e;
}