
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yong Feng Farm Fresh Vegetables</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'base.css' %}" </link> 
</head>






<header>

    <img class="logo" src = "{%static 'img/logo.png' %}" alt="Welcome to YongFeng Farm" width="150" height="100">

  <nav>
    <ul class="nav__links">
      <li><a href="{%url 'login'%}">Login</a></li>
      <li><a href="{%url 'signup'%}">Signup</a></li>
    </ul>
  </nav>
  <a class ="cta" href ="#"> <button>My Cart</button>
</header>

<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>
