{% extends 'base.html' %}
{% block content %}
{%load static%}
<link rel="stylesheet" href="{% static 'create.css' %}"</link>
    <div >
        <h1>Create a new product</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
