{%extends "base.html"%}
{%block content%}

    <div>
    {%load static%}
    <link rel="stylesheet" href="{% static 'detail.css' %}"</link>
        <h1>Detail view of {{vegetable.name}} </h1>
        <p>
            <a href="{%url 'home'%}">Hone</a>
        </p>
    
    <table>
        <tbody>
                <tr>
                    <td><img src = {{vegetable.image.url}} width="250" height="325" ></td>
                </tr>
                <tr>
                    <td>{{vegetable.description}}</td>
                </tr>

        </tbody>
    </table>
    <button>Add</button>
</div>



{%endblock content%}