{% extends 'base.html' %}

{%block content%}
        <h1>Seasonal Vegetable</h1>
        <a href="{% url 'create_product' %}">Create a new product</a>


        <section>

        </section> 

        <table>
            <thead>
                <tr>
                    <th>Vegetable</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Buy Now</th>
                </tr>
            </thead>
            <tbody>
                {%for vegetable in vegetable_list%}
                <tr>
                    <td> <a href="{% url 'show_vegetable' vegetable.pk %}">{{ vegetable.name }} </a> </td>
                    <td>{{vegetable.description}}</td>
                    <td>$ {{vegetable.price}}</td>
                    <td>{{vegetable.unit}}</td>
                    <td><button>Add</button></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
{%endblock content%}