{% extends 'base.html' %}

{%block content%}
        <h1>Seasonal Vegetable</h1>

        <a href="{% url 'create_product' %}">Create a new product</a>
        {%load static%}
        <link rel="stylesheet" href="{% static 'base.css' %}" </link> 
        <div class = "div.gallery">
            <div class = "row">
                <div class = 'product-list product-grid row grid use-infinite-scroll' data-normheights=".imga" data-normheights-inner="img" flex>
                Vegetable
                </div>
                <div class = 'veg-lg-9'>
                    {%for vegetable in vegetable_list %}
                    <div class = "card mx-auto mb-3 mt-3" style = "width: 18rem;">
                    <img class = "div.gallery img" src ="{{vegetable.image.url}}" alt= "Vegeable Image" width="150" height="175">
                    <div class = "card-body">
                    <h5 class = "card-title"> <a href="{% url 'show_vegetable' vegetable.pk %}">{{ vegetable.name }} </a>  </h5>
                    <p class = "card-text"> <b>$ {{vegetable.price}} {{vegetable.unit}}</b></p>
                    <a href = "#"><button>Add</button></a>
                    </div>
                    </div>
                {%endfor%}
                    </div>
                </div>
{%endblock content%}