<!DOCTYPE html>
<html>
  <head>
    <title> log in </title>
    {%load static%}
  <link rel="stylesheet" href="{% static 'login.css' %}" </link> 
  </head>
  <body>
    <div class="login-form">
      <img src = "{%static 'img/logo.jpg' %}" alt="Welcome to YongFeng Farm" width="300" height="200">
        
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="login-btn">Login</button>
            <hr>
            <p class ="or">OR</p>
            <p> Become a member? <a href="{%url 'signup'%}"</p>
            <button type="button" class="sign-btn">Sign up</button>
        </form>
    </div>

</body>