<!DOCTYPE html>
<html>
  <head>
    <title> Sign Up </title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'signup.css' %}"</link>
  </head>
  <body>
        <div class="sign-up-form">
            <h1>Signup</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="sign-btn">Sign up</button>
              <hr>
              <p class ="or">OR</p>
              <button type="button" class="wechat-btn">Login with WeChat</button>
              <p> Do you have an account ? <a href="{%url 'login'%}">Login</a></p>
            </form>
          </div>
    </body>